// fix the height collapse issue when using floats
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px:         Phone
600-900px:       Tablet Portrait
900-1200px:      Tablet landscape
[1200-1800px]     Default styling/dektop
1800px + :       Large dektop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- large-desk

ORDER: Base + typography > general layout + grid > page layout > components

/*
ems and rems are not affected by our declared root font size within media queries 
Instead they look to whatever font size is set within the users browser 

1em = 16px(browser default)
Set breakpoints in em's so that that each breakpoint adapts to the users set font-size
Divide our max or min width value by 16 to find our em value 
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { //600px
      @content;
    } 
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { //900px
      @content;
    } 
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { //1200px
      @content;
    } 
  }
  @if $breakpoint == large-desk {
    @media only screen and (min-width: 112.5em) { //1800px
      @content; 
    } 
  }
}
